@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400&display=swap);
:root {
  --inbionova-black: #020202;
  --inbionova-violet: #87299b;
  --inbionova-green: #37b834;
  --inbionova-blue: #546ef7;
  --inbionova-light-blue: #5bd9df;
  --inbionova-orange: #ef8b10;
  --inbionova-gray: #eaeaea;
  --background-white: #ffffff;
  --primary-color: #ef8b10;
  --link-primary-color: #fff;
  --link-primary-hover-color: #ef8b10;
  --link-primary-active-color: #ef8b10;
  --container-padding: 20px 2.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

a, a:focus, a:visited {
  color: var(--link-primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-primary-hover-color);
}

a:active {
  color: var(--link-primary-active-color);
}

.hide {
  display: none;
}

/* TEXTS */
.black-text {
  color: var(--inbionova-black);
}

.black-hover:hover {
  color: var(--inbionova-black);
}

/* FORMS */
.btn {
  border: 1px solid var(--inbionova-black);
  border-radius: 1.2rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

input[type=text] {
  border-radius: 1.2rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

input[type=text]:focus {
  outline: none;
}

button, .button {
  border-radius: 1.2rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

/* FONTS */
.normal-weight {
  font-weight: 400;
}

.light-weight {
  font-weight: 300;
}

header {
  position: relative;
  top: 0;
  background-color: var(--inbionova-black);
}
header .top {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: var(--container-padding);
  background-color: #e7e7e7;
  justify-items: end;
}
header .top .contact-buttons {
  grid-column-start: 2;
  display: grid;
  justify-items: end;
  width: 100%;
  grid-template-columns: 45% 45%;
  -moz-column-gap: 10%;
       column-gap: 10%;
}
header .top .contact-buttons a {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: var(--background-white);
  color: var(--invionava-black);
}
header .top .contact-buttons a i {
  margin-right: 0.8rem;
}
header .bottom {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: var(--container-padding);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #f6f6f6;
}
header .bottom .logo {
  grid-column-start: 1;
  height: 100%;
}
header .bottom .logo a img {
  max-width: 100%;
}
header .bottom #nav-toggle {
  display: none;
}
header .bottom nav {
  grid-column-start: 2;
  height: 100%;
}
header .bottom nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  height: 100%;
  padding-left: 0;
}
header .bottom nav ul li {
  list-style: none;
}
header .bottom nav ul li a, header .bottom nav ul li a:focus, header .bottom nav ul li a:visited {
  color: var(--inbionova-black);
  padding: 0 1rem;
  font-size: 1rem;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
header .bottom nav ul li a:hover {
  color: var(--primary-color);
}
header .bottom nav ul li a.active {
  color: var(--primary-color);
}

footer {
  background-color: var(--inbionova-black);
  border-radius: 3rem 3rem 0 0;
  padding: 2rem 0;
}
footer .top {
  padding: var(--container-padding);
  display: grid;
  grid-template-columns: 15% 55% 25%;
  color: white;
}
footer .top a {
  color: white;
  cursor: pointer;
}
footer .top a:hover {
  color: var(--link-primary-hover-color);
}
footer .top .links {
  align-self: center;
}
footer .top .links ul {
  list-style: none;
  padding-left: 0;
}
footer .top .links ul li {
  padding: 0.4rem 0;
}
footer .top .news {
  align-self: center;
  text-align: center;
}
footer .top .newsletter {
  align-self: center;
}
footer .top .newsletter .formNewsletterFooter {
  text-align: center;
  border-radius: 3rem;
  background-color: #5570ff;
  padding: 2rem 4rem;
  width: 80%;
}
footer .top .newsletter .formNewsletterFooter .title {
  font-size: 1.4rem;
}
footer .top .newsletter .formNewsletterFooter p {
  margin-bottom: 1.2rem;
}
footer .top .newsletter .formNewsletterFooter input[type=text] {
  margin-bottom: 1.2rem;
}
footer .top .newsletter .formNewsletterFooter button {
  color: white;
  background-color: var(--inbionova-black);
  width: 70%;
}

/* CARDS */
.image-text-card {
  position: relative;
  width: 100%;
  border-radius: 3rem;
  background-color: white;
  text-align: center;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  padding-bottom: 1.8rem;
}
.image-text-card .image-container img {
  max-width: 100%;
  border-radius: 3rem;
  margin-bottom: 0.3rem;
}
.image-text-card .image-popup {
  position: relative;
  height: 3rem;
}
.image-text-card .image-popup img {
  position: absolute;
  top: -120%;
  left: 35%;
  width: 30%;
  border-radius: 50%;
}
.image-text-card .title {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: left;
  padding: 0 1.5rem;
}
.image-text-card .price {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  padding: 0 1.5rem;
}
.image-text-card button, .image-text-card .button {
  background-color: var(--inbionova-violet);
  padding: 1rem;
  color: white;
  border-radius: 2rem;
  position: absolute;
  bottom: -1.8rem;
  width: 60%;
  left: 20%;
}

/* HOME */
.home-newsletter {
  position: relative;
  overflow: hidden;
}
.home-newsletter .fondo {
  text-align: center;
  background-color: var(--inbionova-black);
  border-radius: 0 0 3rem 3rem;
  padding: 2.5rem 0;
}
.home-newsletter .fondo p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2rem;
}
.home-newsletter .fondo input[type=text] {
  display: block;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 2rem;
  padding: 0.8rem;
  border-radius: 4rem;
}
.home-newsletter .fondo button {
  color: white;
  padding: 1rem 4rem;
  background-color: var(--inbionova-violet);
  margin-bottom: 2rem;
  border-radius: 4rem;
}

.home-timeline::before, .home-newsletter::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, var(--inbionova-violet) 0%, var(--inbionova-blue) 75%, var(--inbionova-green) 100%);
  width: 196%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

.home-timeline::after {
  content: "";
  position: absolute;
  width: 196%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url("/imagenes/home/timeline/ondas.png"), url("/imagenes/home/timeline/ondas.png"), url("/imagenes/home/timeline/ondas.png");
  background-size: 25rem, 15rem, 25rem;
  background-position: -5% 160%, 15% 50%, 32% -60%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  opacity: 50%;
}

.home-timeline {
  border-radius: 0 0 3rem 3rem;
  padding: 2.5rem 0 2.5rem 5rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.home-timeline hr {
  width: 150%;
  position: absolute;
  z-index: 2;
  border: 2px solid white;
  top: 42%;
  left: 450px;
}
.home-timeline .top {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 511px 511px 511px 511px 511px 511px 511px;
  align-items: center;
}
.home-timeline .top .circle {
  text-align: center;
  height: 100%;
}
.home-timeline .top .circle .content {
  width: 85%;
  height: 90%;
  border: 2px solid white;
  background-image: linear-gradient(to right, var(--inbionova-violet) 0, var(--inbionova-blue) 300%);
  border-radius: 50%;
  display: grid;
  align-items: center;
}
.home-timeline .top .circle .content p {
  font-family: "Poppins", sans-serif;
  padding: 0 10%;
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
}
.home-timeline .top .special {
  padding-top: 7.5%;
  padding-left: 15%;
}
.home-timeline .bottom {
  display: grid;
  grid-template-columns: 511px 511px 511px 511px 511px 511px 511px;
  align-items: center;
}
.home-timeline .bottom .text {
  font-family: "Roboto", sans-serif;
  padding: 0 5rem;
  font-size: 1rem;
  flex: 0 0 28%;
  color: white;
  text-align: center;
}

.home-bioinsumos, .home-productos, .home-benefits {
  padding: var(--container-padding);
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: 0 -3rem;
  background-repeat: no-repeat;
  background-image: url("/imagenes/home/fondo-1.jpg");
}
.home-bioinsumos h2, .home-productos h2, .home-benefits h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 3rem;
  text-align: center;
}
.home-bioinsumos > p, .home-productos > p, .home-benefits > p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2rem;
  text-align: center;
}
.home-bioinsumos .productos, .home-productos .productos, .home-benefits .productos {
  margin-top: 3rem;
  width: 40%;
  margin-left: 30%;
  display: grid;
  grid-template-columns: 45% 45%;
  -moz-column-gap: 10%;
       column-gap: 10%;
  justify-items: center;
}

.coach-agro, .nutri-coach, .coach-security, .who-are, .testimonials, .awards, .allies {
  padding: var(--container-padding);
  background-color: var(--inbionova-green);
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 15rem 0 0 0;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.coach-agro .text, .nutri-coach .text, .coach-security .text, .who-are .text, .testimonials .text, .awards .text, .allies .text {
  color: white;
  padding: 0 8rem;
}
.coach-agro .text h2, .nutri-coach .text h2, .coach-security .text h2, .who-are .text h2, .testimonials .text h2, .awards .text h2, .allies .text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.coach-agro .text p, .nutri-coach .text p, .coach-security .text p, .who-are .text p, .testimonials .text p, .awards .text p, .allies .text p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
.coach-agro .text button, .nutri-coach .text button, .coach-security .text button, .who-are .text button, .testimonials .text button, .awards .text button, .allies .text button {
  background-color: white;
  border: 1px solid var(--inbionova-black);
  padding: 0.8rem;
  border-radius: 2rem;
}
.coach-agro .image, .nutri-coach .image, .coach-security .image, .who-are .image, .testimonials .image, .awards .image, .allies .image {
  top: -5rem;
  position: relative;
}
.coach-agro .image img, .nutri-coach .image img, .coach-security .image img, .who-are .image img, .testimonials .image img, .awards .image img, .allies .image img {
  max-width: 70%;
}
.coach-agro .image p, .nutri-coach .image p, .coach-security .image p, .who-are .image p, .testimonials .image p, .awards .image p, .allies .image p {
  position: absolute;
  bottom: 5rem;
  right: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: white;
  width: 40%;
}

.nutri-coach {
  background-color: var(--inbionova-blue);
  border-radius: 0 0 15rem 0;
}
.nutri-coach .image {
  display: grid;
  justify-items: end;
}
.nutri-coach .image p {
  right: auto;
  left: 0;
}

.home-productos h2 {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 3rem;
  text-align: center;
}
.home-productos > p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2rem;
  text-align: center;
}
.home-productos .productos {
  padding: 0 5%;
  margin-top: 3rem;
  width: 100%;
  margin-left: 0;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  -moz-column-gap: 4%;
       column-gap: 4%;
  justify-items: center;
}

.coach-security .text button {
  background-color: var(--inbionova-violet);
  border: none;
  color: white;
}

.home-benefits {
  padding: var(--container-padding);
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-position: 0 -3rem;
  background-image: url("/imagenes/home/fondo-2.jpg");
}
.home-benefits .benefits {
  width: 60%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  -moz-column-gap: 4%;
       column-gap: 4%;
  justify-items: center;
}
.home-benefits .benefits .benefit {
  text-align: center;
  margin-bottom: 2rem;
}
.home-benefits .benefits .benefit svg {
  fill: white;
  stroke: white;
  background-color: var(--inbionova-violet);
  width: 50%;
  padding: 2.3rem;
  border-radius: 50%;
}
.home-benefits .benefits .benefit p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.who-are {
  background-color: var(--inbionova-orange);
}
.who-are .text button {
  background-color: var(--inbionova-violet);
  border: none;
  color: white;
}

.testimonials {
  background-color: transparent;
  border-radius: 0 0 15rem 0;
  display: block;
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-image: url("/imagenes/home/fondo-3.jpg");
  background-repeat: no-repeat;
}
.testimonials .text {
  text-align: center;
  color: var(--inbionova-black);
  margin-bottom: 6rem;
}
.testimonials .testimonials-content {
  padding: 0 5%;
  margin-top: 3rem;
  width: 100%;
  margin-left: 0;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  -moz-column-gap: 4%;
       column-gap: 4%;
  justify-items: center;
}
.testimonials .testimonials-content p {
  padding: 3rem 2rem 0 2rem;
}
.testimonials .testimonials-content p.name {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: right;
}
.awards {
  background-color: white;
  display: block;
  padding: 5rem 0;
  background-image: none;
}
.awards .text {
  text-align: center;
  color: var(--inbionova-black);
}
.awards .award-content {
  padding: 0 5%;
  margin-top: 3rem;
  width: 100%;
  margin-left: 0;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  -moz-column-gap: 4%;
       column-gap: 4%;
  justify-items: center;
}
.awards .award-content p {
  padding: 2rem;
}

.allies {
  background-color: var(--inbionova-gray);
  display: block;
  padding: 5rem 0;
  background-image: none;
}
.allies .text {
  text-align: center;
  color: var(--inbionova-black);
}
.allies .text > p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  width: 80%;
  margin-left: 10%;
}
.allies .text button {
  background-color: var(--inbionova-violet);
  border: none;
  color: white;
}
.allies .allies-content {
  padding: 0 5%;
  margin-top: 3rem;
  width: 100%;
  margin-left: 0;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  -moz-column-gap: 4%;
       column-gap: 4%;
  justify-items: center;
}
.allies .allies-content p {
  padding: 2rem;
}

/* NOSOTROS */
.who-are-we {
  border-radius: 0 0 8rem 0;
  padding: var(--container-padding);
  background-image: linear-gradient(white, white 49%, var(--inbionova-gray) 50%, var(--inbionova-gray) 100%);
}
.who-are-we .fabio {
  text-align: center;
}
.who-are-we .fabio img {
  max-width: 50%;
}
.who-are-we .presentation h1 {
  width: 60%;
  margin-left: 20%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--inbionova-black);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.who-are-we .presentation h1 strong {
  font-weight: 800;
}
.who-are-we .presentation h1 span {
  color: var(--inbionova-violet);
}
.who-are-we .presentation p {
  width: 60%;
  margin-left: 20%;
  text-align: center;
}
.who-are-we .timeline {
  position: relative;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 13% 13% 13% 13% 13% 13% 13% 13% 13%;
  -moz-column-gap: 3%;
       column-gap: 3%;
  background-image: linear-gradient(to right, #fff101, #ff5212);
  border-radius: 4rem;
  padding: 2rem 4rem;
  width: 90%;
  margin-left: 5%;
  margin-top: 2rem;
  overflow: hidden;
}
.who-are-we .timeline hr {
  border: 2px solid white;
  position: absolute;
  top: 5rem;
  left: 11rem;
  width: 150%;
}
.who-are-we .timeline .entry {
  text-align: center;
  position: relative;
}
.who-are-we .timeline .entry .image {
  width: 50%;
  margin-left: 25%;
  padding: 1.2rem;
  background-color: white;
  border-radius: 50%;
}
.who-are-we .timeline .entry .image img {
  max-width: 100%;
}
.who-are-we .timeline .entry p {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}
.who-are-we .history {
  padding: 2rem 4rem;
  width: 90%;
  margin-left: 5%;
}
.who-are-we .history h2 {
  font-family: "Poppins", sans-serif;
  color: var(--inbionova-black);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.who-are-we .history p {
  text-align: center;
  margin-bottom: 2rem;
}
.who-are-we .history .history-timeline {
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, 6.66%);
}
.who-are-we .history .history-timeline .point {
  font-family: "Poppins", sans-serif;
  color: var(--inbionova-black);
  font-weight: 800;
  position: relative;
  text-align: center;
  padding-top: 1rem;
  cursor: pointer;
}
.who-are-we .history .history-timeline .point.active {
  color: var(--inbionova-violet);
}
.who-are-we .history .history-timeline .point::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--inbionova-black);
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: calc(50% - 0.5rem);
}
.who-are-we .history .history-timeline .point.active::before {
  background-color: var(--inbionova-violet);
}
.who-are-we .history .history-timeline::before {
  content: "";
  position: absolute;
  border: 2px solid var(--inbionova-black);
  top: 14%;
  left: 3%;
  width: 93%;
}
.who-are-we .history .history-text {
  margin-top: 2rem;
  display: none;
  background-color: #e3e3e3;
  width: 70%;
  margin-left: 15%;
  border-radius: 0 0 8rem 0;
  padding: 2rem 5rem 2rem 2rem;
}
.who-are-we .history .history-text p {
  text-align: left;
  color: var(--inbionova-black);
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
}
.who-are-we .history .history-text .year {
  color: var(--inbionova-violet);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.who-are-we .history .history-text .text {
  font-size: 0.9rem;
  border-bottom: 1px dotted var(--inbionova-black);
}
.who-are-we .history .history-text p:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.who-are-we .history .history-text.active {
  display: block;
}

.our-values {
  padding: var(--container-padding);
}
.our-values h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--inbionova-black);
  text-align: center;
}
.our-values p {
  text-align: center;
  margin-bottom: 2rem;
}
.our-values .values {
  width: 50%;
  margin-left: 25%;
  display: grid;
  grid-template-columns: 30.666% 30.666% 30.666%;
  -moz-column-gap: 4%;
       column-gap: 4%;
  justify-items: center;
  padding-top: 3rem;
}
.our-values .values .value {
  text-align: center;
  margin-bottom: 2rem;
}
.our-values .values .value svg {
  fill: white;
  stroke: white;
  background-color: var(--inbionova-light-blue);
  width: 50%;
  padding: 2.3rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.our-values .values .value h4 {
  margin-bottom: 1rem;
}
.our-values .values .value p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.impacts {
  display: grid;
  grid-template-columns: 50% 50%;
}
.impacts .left {
  background-color: black;
  color: white;
  border-radius: 8rem 0 0 0;
}
.impacts .left > div {
  position: relative;
  top: 15%;
  width: 80%;
  margin-left: 10%;
  border-radius: 4rem;
  border: 1px solid white;
  height: 70%;
  padding: 3rem;
  display: grid;
  align-items: center;
}
.impacts .left > div p {
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.impacts .right {
  position: relative;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
}
.impacts .right div {
  overflow: hidden;
}
.impacts .right div img {
  width: 100%;
}
.impacts .right div p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
}
.impacts .right .ambiental {
  background-color: var(--inbionova-green);
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 50%;
  display: grid;
  align-items: center;
  text-align: center;
}
.impacts .right .economic {
  background-color: var(--inbionova-violet);
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  display: grid;
  align-items: center;
  text-align: center;
}
.impacts .right .text {
  display: none;
}

.team {
  padding: var(--container-padding);
  background-color: #f2f2f3;
}
.team h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--inbionova-black);
  text-align: center;
}
.team p {
  text-align: center;
  margin-bottom: 2rem;
}
.team .members {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  -moz-column-gap: 4%;
       column-gap: 4%;
}
.team .members .member {
  width: 100%;
  align-self: center;
}
.team .members .member .name {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 800;
  margin-bottom: 0;
}
.team .members .member img {
  width: 100%;
}
.team .members .centered {
  grid-column-start: 2;
}

@media all and (max-width: 1600px) {
  .image-text-card button, .image-text-card .button {
    width: 80%;
    left: 10%;
  }

  .home-benefits .benefits .benefit svg {
    width: 65%;
  }
}
@media all and (max-width: 1440px) {
  .coach-agro .image p, .nutri-coach .image p, .coach-security .image p, .who-are .image p, .testimonials .image p, .awards .image p, .allies .image p {
    bottom: -2rem;
  }

  .home-bioinsumos, .home-productos, .home-benefits {
    background-position: 50%;
  }

  .home-benefits {
    background-position: 50%;
  }

  footer .top .newsletter .formNewsletterFooter {
    width: 100%;
  }
}
@media all and (max-width: 1280px) {
  header .top {
    grid-template-columns: 70% 30%;
  }

  .home-bioinsumos .productos {
    width: 60%;
    margin-left: 20%;
  }

  .home-productos .productos {
    width: 100%;
    margin-left: 0;
  }

  .home-benefits .benefits {
    width: 80%;
    margin-left: 10%;
  }

  .testimonials .testimonials-content {
    padding: 0;
  }
}
@media all and (max-width: 1100px) {
  header .top {
    display: block;
    position: relative;
  }

  header .bottom {
    display: block;
    position: relative;
  }
  header .bottom .logo {
    width: 40%;
  }
  header .bottom #nav-toggle:checked + nav {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  header .bottom #nav-toggle:checked + nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  header .bottom nav {
    position: absolute;
    z-index: 1000;
    background-color: white;
    left: 0;
    right: 0;
    height: auto;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  header .bottom nav ul {
    display: block;
    padding-top: 1rem;
    padding-left: 2.5%;
  }
  header .bottom nav ul li a {
    padding: 0.75rem 0;
    display: inline-block;
    text-align: left;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  header .bottom nav ul li a::before {
    display: none;
  }
  header .bottom .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2.5%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  header .bottom .nav-toggle-label span, header .bottom .nav-toggle-label span::before, header .bottom .nav-toggle-label span::after {
    display: block;
    width: 2em;
    height: 2px;
    background-color: var(--inbionova-black);
    position: relative;
  }
  header .bottom .nav-toggle-label span::before, header .bottom .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  header .bottom .nav-toggle-label span::before {
    bottom: 7px;
  }
  header .bottom .nav-toggle-label span::after {
    top: 7px;
  }

  .coach-agro, .coach-security, .who-are, .testimonials, .awards, .allies {
    grid-template-columns: 40% 60%;
    border-radius: 0;
  }

  .nutri-coach {
    grid-template-columns: 60% 40%;
    border-radius: 0;
  }

  .coach-agro .text, .nutri-coach .text, .coach-security .text, .who-are .text, .testimonials .text, .awards .text, .allies .text {
    padding: 1rem;
  }

  .home-productos .productos {
    grid-template-columns: 50% 50%;
    grid-row-gap: 5rem;
  }

  .testimonials .testimonials-content {
    margin-top: 0;
  }

  .awards {
    padding: 0;
    padding-bottom: 3rem;
  }

  footer .top .newsletter .formNewsletterFooter {
    padding: 2rem 1rem;
  }
}
@media all and (max-width: 980px) {
  .home-bioinsumos h2, .home-productos h2, .home-benefits h2 {
    width: 100%;
    margin-left: 0;
  }

  .home-bioinsumos > p, .home-productos > p, .home-benefits > p {
    width: 100%;
    margin-left: 0;
  }

  .coach-agro .image p, .nutri-coach .image p, .coach-security .image p, .who-are .image p, .testimonials .image p, .awards .image p, .allies .image p {
    width: 60%;
  }

  footer .top {
    grid-template-columns: 30% 30% 40%;
  }
}
@media all and (max-width: 800px) {
  .home-newsletter .fondo p {
    width: 90%;
    margin-left: 5%;
  }

  .home-newsletter .fondo input[type=text] {
    width: 50%;
    margin-left: 25%;
  }

  .home-bioinsumos .productos {
    width: 90%;
    margin-left: 5%;
  }

  .coach-agro .image img, .nutri-coach .image img, .coach-security .image img, .who-are .image img, .testimonials .image img, .awards .image img, .allies .image img {
    max-width: 85%;
  }

  .home-bioinsumos, .home-productos, .home-benefits {
    padding-top: 3rem;
  }

  .home-benefits .benefits .benefit svg {
    width: 85%;
  }

  .testimonials {
    background-image: none;
  }

  .testimonials .testimonials-content, .awards .award-content {
    grid-template-columns: 50% 50%;
    grid-row-gap: 7rem;
  }
}
@media all and (max-width: 600px) {
  .home-bioinsumos .productos, .home-productos .productos, .home-benefits .productos {
    grid-template-columns: 100%;
    row-gap: 5rem;
  }

  .coach-agro, .coach-security, .who-are, .testimonials, .awards, .allies {
    grid-template-columns: 100%;
    row-gap: 5rem;
  }

  .nutri-coach {
    display: flex;
    flex-direction: column-reverse;
  }

  .home-benefits .benefits {
    width: 80%;
    margin-left: 10%;
    grid-template-columns: 47.5% 47.5%;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}
@media all and (max-width: 480px) {
  .home-newsletter .fondo input[type=text] {
    width: 80%;
    margin-left: 10%;
  }

  .testimonials .testimonials-content {
    grid-template-columns: 100%;
    row-gap: 7rem;
  }

  .awards .award-content {
    grid-template-columns: 100%;
    row-gap: 3rem;
  }

  .nutri-coach .text {
    padding-bottom: 5rem;
  }

  .coach-agro .text p, .nutri-coach .text p, .coach-security .text p, .who-are .text p, .testimonials .text p, .awards .text p, .allies .text p {
    margin-bottom: 1rem;
  }

  footer .top {
    grid-template-columns: 100%;
    row-gap: 2rem;
  }

  footer {
    border-radius: 0;
  }

  footer .top .links {
    text-align: center;
  }
}
@media all and (max-width: 480px) {
  .home-bioinsumos h2, .home-productos h2, .home-benefits h2 {
    font-size: 1.8rem;
  }
}
@media all and (max-width: 480px) {
  .coach-agro .image p, .nutri-coach .image p, .coach-security .image p, .who-are .image p, .testimonials .image p, .awards .image p, .allies .image p {
    width: 100%;
  }
}
